body{
    margin:0;
    padding:0;
    height:100vh;
    font-family: arial;
}

#app{
    width: 100%;
    height: 100%;
    position :relative;
}

#head{
    width: 100%;
    height: 13%;
    position:fixed;
    left:0;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: #f7f7fb;
    z-index:100;
}
#head #headleft{
    display:flex;
    align-items:center;
    padding:0 10px;
}
#head #headright{
    display:flex;
    align-items:center;
    width: 200px;
    height: 50px;
    background-image: url("../../asset/img/123.png");
     background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}
#head #headleft div:first-child{
    width: 30px;
    height: 30px;
    background-image:url('../../asset/img/1.png');
    background-size:contain;
    background-position:center;
    margin-right:10px;
  
}
#foot{
    width: 100%;
    height: 10%;
    position:fixed;
    left:0;
    bottom:0;
    background-image: url("../../asset/img/footer.jpg");
     background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}

#content{
    background:#fff;
    width: 100%;
    height: 62%;
    margin-top:23%;
    padding:0 20px;
    padding-bottom:10px;
}
#homebar{
    width: 100%;
    height: 100px;
    background-image: url("../../asset/img/home-bar.png");
     background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    margin-bottom:20px;
    position:relative;
}


#homebar2{
    width: 100%;
    height: 100px;
    background-image: url("../../asset/img/home-bar3.png");
     background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    margin-bottom:20px;
    position:relative;
}


#homebar3{
    width: 100%;
    height: 170px;
    background-image: url("../../asset/img/home-bar2.png");
     background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    position:relative;
}


#hidebal{
    width: 20px;
    height: 20px;
    background: transparent;
    position: absolute;
    left:40%;
    top:20%;
}

#showtrans{
    width: 120px;
    height: 20px;
    background: transparent;
    position: absolute;
    right:8%;
    top:20%;
} 

#login{
    background-image: url("../../asset/img/login.png");
     background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    position:relative;
    height: 100vh;
}

#login input{
    position: absolute;
    top:47%;
    left:10.5%;
    background: #f7ffff;
    outline:0;
    border:none;
}